html {
  background: url(https://storge.pic2.me/cm/5120x2880/949/524b1cc5101d8.jpg);
  -webkit-background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addgame {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gamelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
}

.gameholder {
  display: flex;
  width: 40vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonboy {
  display: flex;
}
